@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

input {
  width: 300px;
  height: 44px;
  border: none;
  border-bottom: 2px solid #6143df;
  border-right: 2px solid #6143df;
  box-sizing: border-box;
  transform: skewX(-20deg);
  margin-left: 4vw;
  margin-bottom: 34px;

}

input::placeholder {
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.71px;
  color: #888697;

  transform: skewX(20deg);
}



.wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        min-height: 100vh;
  }

.wrapper > .mainlogo {
  background-color: red;
  background-image: url("../assets/bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 70%;
}

.wrapper > .mainlogin {
  background-color: #ffffff;
  flex-basis: 30%;
}
.smlogo {
  padding-top: 2vh;
  padding-left: 1vw;
}
.catchphrase{
  font-family: 'Fugaz One', cursive;
  font-size: 74px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #ffffff;

  padding-top: 20vh;
  padding-left: 8vw;
  max-width: 35vw;
}

.activities {
  font-family: 'Fugaz One', cursive;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  display: flex; 
  flex-direction: row;
  padding-left: 8vw;
  padding-top: 20vh;
}
.actelem {
  margin-right: 8vw;
  max-width: 10vw;
}
.actcontent {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.tabs{
  display: flex; 
  flex-direction: row;

  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8a56e3;

  padding-top: 20vh;
}

.tabs > div{
  padding-left: 6vw;
}

.tabs > #loginuser{
  opacity: 0.5;
}

.userform > #welcomephrase{
  font-family: 'Fugaz One', cursive;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c454a;

  padding-left: 4vw;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

