textarea, input {
    border-radius: 4px;
    background-color: #e6ebed;
}

textarea::placeholder, input::placeholder{
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8398a2;
}

.buffspace {
    height: 20vh;
}


.loginbox {
    width: 340px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.inputmargin {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.labeltxt {
    font-family: Bangers;
    font-size: 1.5em;
    font-weight: normal;
    

    margin-top: 20px;
    margin-left: 20px;
}